body {
  text-align: center;
  padding: 10px;
  background-color: #ddd;
}

canvas {
  background: #222;
  border: 5px chartreuse solid;
  margin-top: 10px;
} 

#nbballs {
  width: fit-content;
  border: 5px #aae solid;
  border-radius: 10px;
  font-size: 100%;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}