body {
  margin: 0;
  padding: 0;
  background-image: url('../1920902.jpg');
}

body main{
  margin: 2vh;
  display: flex;
}

body main div {
  width: fit-content;
  min-width: 200px;
  height: fit-content;
  min-height: 200px;
  position: relative;
  border-radius: 50%;
  display: block;
  aspect-ratio: 1;
}

header {
  background-color: #252525;
  margin: 0;
  justify-content: center;
  padding: 0px 0;
  display: flex;
  flex-direction: row;
  height: fit-content;
}

header a {
  text-decoration: none;
}

header a h1 {
  margin: 0;
  padding: max(2vh, 20px) 50px;
  color: #fff;
  font-size: 200%;
  transition: background-color 0.4s;
}

header a h1:hover {
  cursor: pointer;
  background-color: rgb(70, 70, 70);
  transition: background-color 0.4s;
}

.titleBox {
  padding: 100px;
  background-color: rgba(170, 170, 255, 0.7);
  justify-content: center;
  text-align: center;
  z-index: -1;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 20px #000;
}

.imageBox {
  background-color: rgba(170, 170, 255, 0.9);
  display: flex;
  flex-direction: row;
  transform: translate(-100px, 150px);
  z-index: 0;
  box-shadow: 3px 3px 20px #000;
  padding: 100px

}

.imageBox div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: fit-content;
  width: fit-content;
}

.imageBox div img {
  border-radius: 30%;
  vertical-align: middle;
}

.imageBox div h1 {
  height: fit-content;
}

.placeBox {
  padding: 100px;
  background-color: rgba(80, 232, 103, 0.9);
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transform: translate(-250px, 0);
  box-shadow: 3px 3px 20px #000;
  z-index: -2;
}

.school {
  padding: 100px;
  background-color: rgba(80, 232, 103, 0.7);
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 3px 3px 20px #000;
  z-index: 0;
  transform: translate(-80%, 150px);
}

/* .circle-container {
  height: fit-content;
  width: fit-content;
  margin-left: 50vw;
  margin-top: 25vh;
  transform: translate(-50%, -50%);
  position: absolute;
}
.circle {
  height: 75px;
  display: flex;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #00f;
  transition: background-color 1s ease;
}

.circle:hover {
  background-color: #f00;
  transition: background-color 1s ease;
  cursor: pointer;
} */
