body {
  margin: 0;
  padding: 0;
  background-color: #15ffaa;
}

header {
  background-color: rgb(30, 30, 30);
  color: #fff;
  height: fit-content;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  align-items: center;
}

.difficulty {
  margin: 0;
  padding: 10px 20px;
}

.diffDrop {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.show {
  height: 25px;
  display: block;
  transition: height 0.5s ease;
}

#diffButton {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

#diffButton:hover {
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}

table {
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

input[type='radio'] {
  margin: 5px 0px 5px 20px;
}

td {
  height: 150px;
  width: 150px;
}

main button {
  width: inherit;
  height: inherit;
  color: transparent;
  font-size: 0%;
  outline: none;
  border: none;
  background-image: url(./public/mark/interrogation.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

main button:hover {
  cursor: grab;
}